.nav-item {
  background-color: #333333;
  background: linear-gradient(
    to bottom,
    rgba(69, 72, 77, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 0.6em 0;
  border: thin #999999;
  border-right-style: groove;
  border-top-style: none;
  border-bottom-style: none;

  &:hover,
  &:active,
  &.active {
    background-color: var(--light-brown);
    background: linear-gradient(
      to bottom,
      rgba(125, 126, 125, 1) 0%,
      rgba(14, 14, 14, 1) 100%
    );
  }
}
